:root {
  --background-main-color: #f5f5f5;
  --backgroun-secondary-color: #f9f9f9;
  --text-main-color: #000000;
  --text-secondary-color: #a3a3a3;
  --text-decoration-color: #ededed;
  --text-logo-color: #000000;
}

body {
  color: var(--text-main-color);
}

/* header  before-nav*/

.user-geo-list-item,
.user-geo-list-item a {
  color: var(--text-main-color);
}

.geo-list-item-note {
  color: var(--text-secondary-color);
}

.call-request button {
  color: var(--text-main-color);
  background-color: var(--background-main-color);
}

/* header nav*/

.nav-item a {
  color: var(--text-main-color)
}


.cost-of-goods {
  color: var(--text-main-color);
}

.basket {
  color: var(--text-secondary-color);
};

/* hero */

h1 {
  color: var(--text-main-color);
}

.hero-description {
  color: var(--text-secondary-color);
}



