:root {
  --background-main-color: #f5f5f5;
  --backgroun-secondary-color: #f9f9f9;
  --text-main-color: #000000;
  --text-secondary-color: #a3a3a3;
  --text-decoration-color: #ededed;
  --text-logo-color: #000000;
  --counter-text-color: #B8B8B8;
  --counter-inactive-item-color: #EDECEC;
}

body {
  color: var(--text-main-color);
}

/* header  before-nav*/

.user-geo-list-item,
.user-geo-list-item a {
  color: var(--text-main-color);
}

.geo-list-item-note {
  color: var(--text-secondary-color);
}

.call-request button {
  color: var(--text-main-color);
  background-color: var(--background-main-color);
}

/* header nav*/

.nav-item a {
  color: var(--text-main-color)
}


.cost-of-goods {
  color: var(--text-main-color);
}

.basket {
  color: var(--text-secondary-color);
};

/* hero */

h1 {
  color: var(--text-main-color);
}

.hero-description {
  color: var(--text-secondary-color);
}

/* acquaintance-left */

.acquaintance-secondary {
  color: var(--text-secondary-color);
}
.nex-question-button {
  color: var(--text-main-color);
  background-color: var(--background-main-color);
}

/*  company-presentation */

.company-presentation h2 {
  color: var(--text-secondary-color);
}

.catalog-link {
  color: var(--text-main-color);
}

/* table-constructor */

.question-counter {
  color: var(--counter-text-color);
}
.active-item{
  width: 102px;
  height: 4px;
  background-color: var(--text-main-color);
}

.inactive-item {
  width: 102px;
  height: 4px;
  background-color: var(--counter-inactive-item-color);
}

.nex-question-button {
  color: var(--text-main-color);
    background-color: var(--background-main-color);

}

/* place-your-order */

.design-decor {
  color: var(--text-decoration-color);
}

.place-your-order p {
  color: var(--text-secondary-color);
}

.submit-application {
  color: var(--text-main-color);
  background-color: var(--background-main-color);
}

/* our-workshop */

.about-workshop {
  color: var(--text-secondary-color);
}

.decorative-text {
  color: var(--text-decoration-color);
}

.secondary-color-text {
  color: var(--text-secondary-color);
}

.active-element {
  color: var(--text-main-color);
}

.element {
  color: var(--text-secondary-color);
}

/* work-procedures */

.procedure-number {
  color: var(--counter-text-color);
}

